#build --cxxopt='-std=c++17'
#build --cxxopt='-Wno-macro-redefined'
#build --cxxopt='-Wno-builtin-macro-redefined'
#
#build --cxxopt='-Wno-unused-private-field'
#build --cxxopt='-g'

#build --client_env=CC=clang

# Platform-specific settings
build:windows --cxxopt=/std:c++17
build:linux --cxxopt=-std=c++17